body{
    display:contents;
  font-family: arial,sans-serif;
}
.navbar{
 float: right;
  margin: 20px;
  font-family: arial,sans-serif;
}

.icon{
  margin-right: 15px;
}

.nav-item{
  text-decoration: none;
  color:black;
  margin-right: 15px;
  font-size: 13px;
}

.nav-item:hover{
  text-decoration: underline;
}

.main{
  margin-top: 300px;
  text-align:center;
}

.input-area{
  margin-top:20px;
}

.input-box{
  width:554px;
  height:46px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding-left:60px;
  padding-right:60px;
}

.input-box:hover{
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

.search-icon{
  position:relative;
  left:40px;
  color: #9aa0a6;
}

.mic-icon{
  position:relative;
  right:40px;
  color: #9aa0a6;
}

.button-area {
  padding-top:18px;
}

.button-style{
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial,sans-serif;
  font-size: 14px;
  padding:0 16px;
  margin: 11px 4px;
}

.button-style:hover{
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-area{
  margin-top:18px;
  font-family: arial,sans-serif;
}
.language{
  text-decoration: none;
  color:black;
}
.language:hover{
  text-decoration: underline;
}

.footer{
  position: absolute;
  bottom: 0px;
  background: #f2f2f2;
  width:100%
}

.first-line{
padding: 15px 30px;
border-bottom: 1px solid #dadce0;
font-size: 15px;
color: #70757a;
  text-align:left;
  margin:0px 15px;
}

.second-line{
padding: 15px 30px;
font-size: 15px;
color: #70757a;
display:flex;
justify-content: space-between;
}

.second-line a{
padding: 15px;
color: #70757a;
text-decoration: none;
}

.second-line a:hover{
  text-decoration: underline;
}
